# API сервера (локальный порт по умолчанию 8000)
VITE_API_URL=http://127.0.0.1:8000

# Порт сервера (fallback: 8000)
VITE_API_PORT=8000

# The Movie Database
VITE_IMDB_URL=https://api.themoviedb.org/3
VITE_IMDB_TOKEN=
